.list-group {
    height: 90vh;
    overflow-y: scroll;
}
.list-group::-webkit-scrollbar {
    width: 0.4rem;
}
.list-group::-webkit-scrollbar-thumb {
    width: 0.3rem;
    background-color: rgba(128, 128, 128, 0.318);
    border-radius: 1rem;
}
p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 1rem;
}
